<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">

		<intercept-url pattern="/bug/**"
			access="hasAnyRole('ROLE_ADMIN','ROLE_DEVELOPER','ROLE_TESTER')" />
		<intercept-url pattern="/category/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/priority/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/project/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/screenShot/**"
			access="hasAnyRole('ROLE_ADMIN','ROLE_DEVELOPER','ROLE_TESTER')" />
		<intercept-url pattern="/serevity/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/status/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/type/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/addOrUpdateUser" access="permitAll" />

		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		<access-denied-handler error-page="/404" />

		<form-login login-page="/login" default-target-url="/user/dashboard"
			login-processing-url="/spring_security_check"
			authentication-failure-url="/loginError" username-parameter="username"
			password-parameter="password" />

		<logout logout-url="/spring_security_logout"
			logout-success-url="/login?logout" invalidate-session="true" />
			  
		<!-- enable csrf protection -->
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select login, password, true from user where login = ?"
				authorities-by-username-query="select login, description from user u,type t where u.type_id=t.id and u.login = ?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>